<form ng-submit="addGoal()">
  <label for="title">
    What would you like to do
  <input type="text" name="title" ng-model="goal.title" required>
  </label>
  <br>
  <label for="desc">
    Why is it important to you
  <input type="text" rquired name="desc" ng-model="goal.desc" required>
  </label>
  <br>
  <button type="submit">Add Goal</button>
</form>
<table>
<tr ng-repeat="goal in goals">
  <td width="20%">{{goal.title}}</td>
  <td width="70%">{{goal.desc}}</td>
  <td width="10%"><a ui-sref="goals_detail({goal_id: goal.id})"><button>view</button></a> <button ng-click="deleteGoal(goal)">delete</button> <button ng-click="complete(goal)">complete</button></td>
  <hr>
</tr>
</table>