<form ng-submit="addGoal()">
  <label for="title">
    What would you like to do
  </label>
  <input type="text" id="title" ng-model="goal.title">
  <br>
  <label for="desc">
    Why is it important to you
  </label>
  <input type="text" id="desc" ng-model="goal.desc">
  <br>
  <button type="submit">Add Goal</button>
</form>
<table>
<tr ng-repeat="goal in goals">
  <td width="20%">{{goal.title}}</td>
  <td width="70%">{{goal.desc}}</td>
  <td width="10%"><a ui-sref="goals({goal_id: goal.id})">view</a></td>
</tr>
</table>