<div class="">
  <% flash.each do |name, msg| %>
  <% content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
  <% end %>
</div>

<ui-view></ui-view>
<div ui-view="featured"></div>


<% if current_user %>
<nav class="bar bar-tab">
  <a class="tab-item" ui-sref="main">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" ui-sref="goals">
    <span class="icon icon-share"></span>
    <span class="tab-label">Goals</span>
  </a>
  <a class="tab-item" ui-sref="stories">
    <span class="icon icon-list"></span>
    <span class="tab-label">Stories</span>
  </a>
</nav>
<% end %>